@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(fonts/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(fonts/NbE6ykYuM2IyEwxQxOIi2BefZI2gqg-NXpw43Z_DJ3I.woff) format('woff');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(fonts/6q1c0ofG6NKsEhAc2eh-3brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

html, body { 
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

.url {
  display: none;
}

.horizontal_dotted_line {
  margin-top: 10px;
  border-bottom: 3px dotted #800000;
  -moz-border-radius-bottomright: 30px 20px;
  -moz-border-radius-bottomleft: 30px 20px;
  width: 100%;
}

div.full {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 600px;
  min-width: 800px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1300px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

 p#sub {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  line-height:inherit;
}

p#subsub {
  color: white;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 26px;
  line-height:inherit;
    margin-top: -40px;
}
 
h1 {
  color: white;
  text-align: center;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  font-size: 200px;
    margin-top: 50px;
    text-shadow: 0px 2px 3px #555;
}

a {
  text-decoration: none;
  color: #800000;
}

div#nav {
    background-image: url('images/ricepaper2.png');
    padding: 0;
    height: 50px;
    width: 100%;
}

div#nav a {
  color: #800000;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  font-weight: 800;
  line-height: 50px;
  padding: 35px 60px 35px 60px;
}

div.story {
  background-image: url('images/ricepaper2.png');
  padding: 0;
  width: 100%;
  overflow: auto;
  min-width: 1024px;
}

div.story div.body_project {
    margin: 30px 50px 30px 50px;
  }

div.story div.body_story {
    margin-top: 100px;
    margin-bottom:100px;
    background-color: #fafafa;
    height: 1400px;
    display:inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 65em;
}

div.body_story h2#body {
    position: relative;
    top: -10px;
    margin-left:-20px;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    text-shadow: 0px 2px 3px #555;
}
div.body_story div.horizontal_dotted_line {
    width: 50%;
    margin: 0 auto;
    margin-top: -100px;
}
.body_letter {
    position: relative;
    top: 30px;
    width: 90%;
    margin-left: 5%;
}
.body_letter p{
    text-align:left;
    word-spacing:4px;
    line-height: 20px;
    width: 90%;
    margin-left: 5%;
    font-weight: 200;
    font-family: 'PT Sans', sans-serif;
    color: #303030;
}

.body_letter p#final {
    position: relative;
    top: -20px;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    font-size: 50px;
}

.body_letter p#board {
    position: relative;
    top: -60px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    color: #303030;
}

div.future {
  background-color: #fafafa;
  padding: 0;
  width: 100%;
  min-height: 2100px;
     overflow: auto;
min-width: 1024px;
}
div.body_future h2 {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    text-shadow: 0px 2px 3px #555;
    position: relative;
    left: -10px;
}

div.body_future h3 {
    font-family: 'Josefin Slab', serif;
    color: #800000;
    font-size:30px;
    position: relative;
    top: -30px;
}

div.body_future div.horizontal_dotted_line {
    width: 50%;
    margin: 0 auto;
    margin-top: -80px;
    margin-bottom:60px;
}

div.future .graphs {
    display: inline-block;
}
div.ind {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
}
div.title {
    font-family: 'Josefin Slab', serif;
    color: #800000;
    font-size: 30px;
}
div.sub {
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
    color: #800000;
    font-style:italic;
    padding-bottom:20px;
}


div.board {
    min-width: 1024px;
  background-image: url('images/ricepaper2.png');
  padding: 0;
  width: 100%;
    min-height: 1600px;
  overflow: auto;
}

h2#board_title {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    text-shadow: 0px 2px 3px #555;
    position: relative;
    left: -10px;
}
div.board div.horizontal_dotted_line {
    width: 50%;
    margin: 0 auto;
    margin-top: -100px;
}
div.members {
    padding-top: 40px;
    display: inline-block;
    padding-left: 50px;
    padding-right:50px;
}
img.pic {
    width: 15em;
    border-radius:50%;
}
div.members #name {
    font-family: 'Josefin Slab', serif;
    color: #800000;
    font-size:30px;
}
div.members #year {
    font-family: 'Josefin Slab', serif;
    color: #800000;
    font-size:20px;
    position: relative;
    top: -25px;
}
.full {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 2em;
}
.footer {
    background-color:  #fafafa;
       padding-top: 10px;
}
div.obj {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Josefin Slab', serif;
    color: #800000;
    display: inline-block;
}