html, body { 
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

.url {
  display: none;
}

.horizontal_dotted_line {
  margin-top: 10px;
  border-bottom: 3px dotted #800000;
  -moz-border-radius-bottomright: 30px 20px;
  -moz-border-radius-bottomleft: 30px 20px;
  width: 100%;
}

div.full {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 600px;
  min-width: 800px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

 p#sub {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  line-height:inherit;
}

p#subsub {
  color: white;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 26px;
  line-height:inherit;
    margin-top: -40px;
}
 
h1 {
  color: white;
  text-align: center;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  font-size: 200px;
    margin-top: 50px;
    text-shadow: 0px 2px 3px #555;
}

a {
  text-decoration: none;
  color: #800000;
}

div#nav {
    background-image: url('images/ricepaper2.png');
    padding: 0;
    height: 50px;
    width: 100%;
}

div#nav a {
  color: #800000;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  font-weight: 800;
  line-height: 50px;
  padding: 35px 60px 35px 60px;
}

div.story {
  background-image: url('images/ricepaper2.png');
  padding: 0;
  width: 100%;
  overflow: auto;
}

div.story div.body_project {
    margin: 30px 50px 30px 50px;
  }

div.story div.body_story {
    margin-top: 100px;
    margin-bottom:100px;
    background-color: #fafafa;
    height: 1400px;
    display:inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 80%;
}

div.body_story h2#body {
    position: relative;
    top: -10px;
    margin-left:-20px;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    text-shadow: 0px 2px 3px #555;
}
div.body_story div.horizontal_dotted_line {
    width: 50%;
    margin: 0 auto;
    margin-top: -100px;
}
.body_letter {
    position: relative;
    top: 30px;
    width: 90%;
    margin-left: 5%;
}
.body_letter p{
    text-align:left;
    word-spacing:4px;
    line-height: 20px;
    width: 90%;
    margin-left: 5%;
    font-weight: 200;
    font-family: 'PT Sans', sans-serif;
    color: #303030;
}

.body_letter p#final {
    position: relative;
    top: -20px;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #800000;
    font-size: 50px;
}

.body_letter p#board {
    position: relative;
    top: -60px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    color: #303030;
}
div.photo {
  background-image: url('../images/ricepaper2.png');
  padding: 0;
  width: 100%;
  overflow: auto;
}
  div.photo div.title_photo {
    padding-top: 3px;
    background-color: white;
    padding-bottom: 4px;
    border-bottom: 2px solid grey;
  }

  div.photo div.body_photo {
    margin: 30px 50px 30px 50px;
  }

  div.photo div.body_photo img {
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
  }

  div.photo h2 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 60px;
    font-weight: 100;
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

div.contact {
  background-image: url('../images/ricepaper2.png');
  height:100%;
  padding: 0;
  width: 100%;
  min-height: 650px;
  min-width: 800px;
}

div.contact div.title_contact {
    padding-top: 3px;
    background-color: white;
    padding-bottom: 4px;
    border-bottom: 2px solid grey;
  }


div.contact h2 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 60px;
    font-weight: 100;
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

  div.contact form {
    color: white;
    margin-top: 8%;
  }

  div.contact input, textarea {
    width: 500px;
    padding: 9px;
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font: 400 12px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    border-radius: 10px;
    -moz-border-radius: 10px;  
    opacity: 0.5; 
    filter: alpha(opacity=50);
  }

  div.contact textarea {
    width: 500px;
    max-width: 500px;
    height: 150px;
    line-height: 150%;  
  }

input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    }  

div.contact .submit input {  
    width: auto;  
    padding: 9px 15px; 
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;   
}


div.blog {
  background-image: url('../images/ricepaper2.png');
  padding: 0;
  width: 100%;
  overflow: auto;
}

div.blog div.title_blog {
    padding-top: 3px;
    background-color: white;
    padding-bottom: 4px;
    border-bottom: 2px solid grey;
  }

div.blog h2 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 60px;
    font-weight: 100;
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }

div.title_blog a {
  font-style: italic;
  color: black;
}
div.title_blog a:hover {
  font-style: normal;
}

.tumblr_posts {
}

ol, li {
  list-style: none;
}

.tumblr_post p, li {
   font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
   color: white;
}

.tumblr_post {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid grey;
}

.tumblr_description, .tumblr_body {
  text-align: left;
}

.tumblr_link_post {
  font-size: 20px;
}

.tumblr_post a:hover {
  font-style: italic;
}